<div class="AknFormContainer AknFormContainer--withPadding AknFormContainer-Credential">
    <!-- Input Field -->
    <% _.each(controls, function (control) { %>
        <div class="AknFieldContainer">
            <div class="AknFieldContainer-header">
                <label class="AknFieldContainer-label">
                    <%- _.__(control.label) %> <em><%- _.__('pim_enrich.form.required') %></em>
                </label>
            </div>
            <div class="AknFieldContainer-inputContainer field-input">
                <% if(control.type === 'password') { %>
                    <input type="<%- control.type %>" name="<%- control.name %>" id="pim_enrich_entity_form_<%- control.name %>" class="AknTextField label-field" value=<% if(credentials[control.name]){ %>"************"<% } else { %> "" <%} %> required="required" placeholder="<%- control.placeholder %>">
                <% } else if(control.type === 'text') { %>
                    <input type="<%- control.type %>" name="<%- control.name %>" id="pim_enrich_entity_form_<%- control.name %>" class="AknTextField label-field" value="<%- credentials[control.name] %>" required="required" placeholder="<%- control.placeholder %>">
                <% } %>
            </div>
            <% if(control.type === 'select') { %>
            <div class="AknFieldContainer-inputContainer field-input">
                <select class="select2 select-field" class="<%- control.class %>" name="<%- control.name %>" id="pim_enrich_entity_form_<%- control.name %>" required>
                    <% _.each(control.options, function(label, code) { %>
                        <option value="<%- code %>" <% if(code === credentials[control.name]){ %> selected <% } %> > <%- label %></option>
                <% }); %>
                </select>
            </div>
            <% } %>
            <!-- Validation Error block -->
            <%  if(errors[control.name]) { %>
                <div class="AknFieldContainer-footer">
                    <div class="AknFieldContainer-validationErrors validation-errors">
                        <div class="AknFieldContainer-validationError">
                            <i class="icon-warning-sign"></i>
                            <%- errors[control.name] %>
                        </div>
                    </div>
                </div>
            <% } %>
            <!-- //Validation Error block -->

        </div>
    <% }); %>
    <!-- //Input Field -->

</div>